@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');


* {

    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;
}


.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;

}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;




}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 180px;
    padding: 25px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sansserif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px;
    text-align: center;
}

.hero> :first-child {
    font-family: "poppins";
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-family: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 24px;
    font-weight: bold;

    font-size: 20px;
    border-radius: 4px;
    background-color: rgb(71, 67, 67);
    border-color: black;
}

.btn:hover {
    padding: 6px 30px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
        0 0 40px rgba(255, 255, 255, 0.3);
    border-color: black;


}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red:hover {
    background-color: red;
    color: white;
    padding: 6px 30px;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
        0 0 40px rgba(255, 255, 255, 0.3);
    border-color: black;
}

.hero-buttons {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.emailbox {
    color: white;
    border: 2px solid white;
}

.main input {
    padding: 10px 59px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgb(23, 23, 23, 0.7);

}

/* TV with video */
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 1300px) {
    .first{
        flex-wrap: wrap;
    }
}
.secImg {
    position: relative;
}

.secImg img {
    width: 305px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    width: 304px;
    top: 50p;
    right: 0;
}

section.first {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 0.005px;
    flex-wrap: wrap;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    flex-wrap: wrap;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first>div:first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div:nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 34px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: rgb(129, 8, 8);
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;

}

.faqbox:hover {
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 12, 12);
    padding: 34px;
    max-width: 62vw;
    margin: 34px auto;
    box-shadow: 0 0 20px rgba(236, 5, 5, 0.6),
        0 0 40px rgba(255, 255, 255, 0.3);
    border-color: black;
    flex-wrap: wrap;


}

.faqbox svg {
    filter: invert(1);
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
    flex-wrap: wrap;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}
@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: white;
}
    
.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}